<div class="create-button">
    <button mat-stroked-button color="basic" (click)=createForm()>Add</button>
</div>

<div *ngIf="showCreateForm" class="create-form">
    <form [formGroup]="newEntityForm" (ngSubmit)="onSubmit(newEntityForm.value)">
        <br>
        <mat-form-field>
            <mat-label>
                Name
            </mat-label>
          <input matInput formControlName = "name">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>
                Created at
            </mat-label>
            <input matInput [matDatepicker]="picker1" formControlName = "createdAt">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-icon-button color="primary" type="submit">
            Send
        </button>
    </form>
</div>
<div class="list-of-all-items" *ngFor="let team of teams;">
    <p>Id: {{team.id}}</p>
    <p>Name: {{team.name}}</p>
    <p>Created At: {{team.createdAt | date}}</p>
    <button mat-icon-button color="primary">
        Edit
    </button>
    <button mat-icon-button color="primary" (click)="remove(project.id)">
        Delete
    </button>
</div>