<div class="create-button">
    <button mat-stroked-button color="basic" (click)=createForm()>Add</button>
</div>
<div *ngIf="showCreateForm" class="create-form">
    <form [formGroup]="newEntityForm" (ngSubmit)="onSubmit(newEntityForm.value)">
        <br>
        <mat-form-field>
            <mat-label>
                Name
            </mat-label>
          <input matInput formControlName = "name">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>
                Description
            </mat-label>
            <textarea matInput formControlName = "description"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>
                Performer Id
            </mat-label>
          <input matInput formControlName = "performerId">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>
                Project Id
            </mat-label>
          <input matInput formControlName = "projectId">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>
                State
            </mat-label>
          <input matInput formControlName = "state">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>
                Created At
            </mat-label>
            <input matInput [matDatepicker]="picker1" formControlName = "createdAt">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>
                Finished At
            </mat-label>
            <input matInput [matDatepicker]="picker2" formControlName = "finishedAt">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-icon-button color="primary" type="submit">
            Send
        </button>
    </form>
</div>
<div class="list-of-all-items" *ngFor="let task of tasks;" appStatus status="{{task.state}}">
    <p>Id: {{task.id}}</p>
    <p>Name: {{task.name}}</p>
    <p>Created At: {{task.createdAt | date}}</p>
    <p>Finished At: {{task.finishedAt | date}}</p>
    <p>State: {{task.state}}</p>
    <p>Project Id: {{task.projectId}}</p>
    <p>Performer Id: {{task.performerId}}</p>
    <p>Description: {{task.description}}</p>
    <button mat-icon-button color="primary">
        Edit
    </button>
    <button mat-icon-button color="primary" (click)="remove(task.id)">
        Delete
    </button>
</div>