<div class="create-button">
    <button mat-stroked-button color="basic" (click)=createForm()>Add</button>
</div>

<div *ngIf="showCreateForm" class="create-form">
    <form [formGroup]="newEntityForm" (ngSubmit)="onSubmit(newEntityForm.value)">
        <br>
        <mat-form-field>
            <mat-label>
                Name
            </mat-label>
          <input matInput formControlName = "name">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>
                Description
            </mat-label>
            <textarea matInput formControlName = "description"></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>
                Author id
            </mat-label>
          <input matInput formControlName = "authorId">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>
                Team id
            </mat-label>
          <input matInput formControlName = "teamId">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>
                Created at
            </mat-label>
            <input matInput [matDatepicker]="picker1" formControlName = "createdAt">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>
                Deadline
            </mat-label>
            <input matInput [matDatepicker]="picker2" formControlName = "deadline">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <br>
        <button mat-icon-button color="primary" type="submit">
            Send
        </button>
    </form>
</div>
<div class="list-of-all-items" *ngFor="let project of projects;">
    <p>Id: {{project.id}}</p>
    <p>Name: {{project.name}}</p>
    <p>Created At: {{project.createdAt | date}}</p>
    <p>Deadline: {{project.deadline | date}}</p>
    <p>Author Id: {{project.authorId}}</p>
    <p>Team Id: {{project.teamId}}</p>
    <p>Description: {{project.description}}</p>
    <button mat-icon-button color="primary">
        Edit
    </button>
    <button mat-icon-button color="primary" (click)="remove(project.id)">
        Delete
    </button>
</div>